<p>update-category works!</p>

<div class="container-fluid">
    <h1 align="center">Update Category</h1>
    <br><br>
    <ul class="nav flex-column nav-pills nav-justified">
        <li class="nav-item">
            <button class="btn btn-primary navbar-btn">
          <a class="nav-link" href="/ByCategory" style="color:white">Update category by category</a>
            </button>
        </li>
        <br>
        <li class="nav-item">
            <button class="btn btn-primary navbar-btn">
          <a class="nav-link" href="/ById" style="color:white">Update category by product Id</a>
            </button>
        </li>
      </ul>
      <br>
    <div class="offset-lg-4 col-lg-4 offset-md-4 col-md-4 offset-sm-4 col-sm-4" style="margin-left: 47%;">
        <button class="btn btn-secondary" type="button" (click)="back()">Back</button>
    </div>

</div>